html, body {
  height: 100%;
  margin: 0;
}

body {
  background-color: #fffcf0;
  width: auto;
}

#container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #12110f;
  padding: 10px 30px;
}

#logo {
  color: #fffcf0;
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
  font-size: 24px;
}

nav {
  display: flex;
  justify-content: flex-end;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

li {
  margin: 0 10px;
}

a {
  color: #fffcf0;
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
}

#top-section {
  background-color:  #fffcf0;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#top-section h1 {
  color:  #12110f;
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
  font-size: 120px;
  margin: 0;
  text-align: center;
}

#top-section h2 {
  color: #12110f;
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
  font-size: 34px;
  margin: 0;
  text-align: center;
}

#image-section {
  
  background-color: #FFD95A;
  height: 400px;
  width: auto;
  margin-right:  10%;
  margin-left:  10%;
  margin-bottom: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 2px solid black;
  border-radius: 7px;
}

#image-section h1 {
  font-family: 'Roboto', sans-serif;
  color: #12110f;
  font-weight: 700;
  flex-grow: 1;
  width: 100%;
  font-size: 30px;
}

#image-section img {
  max-width: 15%;
  height: auto;
  padding: 10px;
  border-radius: 20px;
}
.image-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
#game-section {
  background-color: #fffcf0;
  }
  
  .game-section-container {
/* Rounded borders */
  margin: 0px 10%;
  height: 1000px;
  width: auto;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  }
  
  .game {

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  }
  
  .game-content-container {
 
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
  margin-top: 10px;
  }
  
  .game h3 {

  font-family: 'Roboto', sans-serif;
  color: #12110f;
  font-size: 60px;
  font-weight: 900;
  margin-bottom: 10px;
  }
  
  .game-section-container h2 {
  background-color: #fbf6e1;
  border: 2px solid #12110f; /* Gray border */
  border-radius: 8px;
  padding: 20px;
  width: 100%;
  font-family: 'Roboto', sans-serif;
  color: #12110f;
  font-size: 80px;
  font-weight: 200;
  margin-bottom: 10px;
  }
  
  .game-content-container p {
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
  font-size: 30px;
  margin-right: 20px;
  color: #12110f;
  }
  
  .game-content-container img {
  width: 500px;
  height: 250px;
  border: 2px solid #12110f;
  border-radius: 15px;
  background-color: #fffcf0;
  }
  
  #about-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fffcf0;
  }
  
  #about-section-container {
  height: 400px;
  width: auto;
  /* margin: 20px 10%; */
  padding: 0px 10%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  }
  
  .about-title {
  font-family: 'Roboto', sans-serif;
  font-size: 60px;
  font-weight: bold;
  margin-bottom: 10px;
  color: #12110f;
  }
  
  .about-content {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  }
  
  .about-content .row {
  display: flex;
  align-items: center;
  flex-direction: column;
  }
  
  .about-content img {
  width: 200px;
  height: 200px;
  margin-right: 60px;
  }
  
  .about-content p {
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  margin-right: 30px;
  color: #12110f;
  }

#contact-section {
  background-color: #FFD95A;
  /* margin: 40px 10%; */
}

#contact-section-container {

  /* padding: 10px; */
  font-family: 'Roboto', sans-serif;
  /* margin: 40px 10%; */
  padding-left: 5%;
  padding-right: 5%;
    /* background-color: #FFD95A;
  border: 2px solid black;
  border-radius: 8px; */
}

#contact-section-container h2 {
  /* background-color: #FFD95A;
  border: 2px solid black;
  border-radius: 8px; */

  font-family: 'Roboto', sans-serif;
  color: #12110f;
  font-weight: 700;
  font-size: 100px;
  margin-bottom: 30px;
  padding-left: 5%;
}

#contact-col-container{
  background-color: #FFD95A;
  /* border: 2px solid black;
  border-radius: 8px; */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: flex-start;
  width: auto;
  margin: 0x, 10%;
  padding-top: 3%;
  padding-right: 3%;
  padding-bottom: 3%;

}

#contact-col-container h2 {
    font-family: 'Roboto', sans-serif;
    color: #12110f;
    font-weight: 700;
    font-size: 60px;
  }

  form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    /* width: 500px; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    
    /* margin-bottom: 30px;
    margin-right: 10%;
    margin-right: 3%; */
  }

  .form-group {
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    justify-content: center;
    margin-bottom: 10px;
    font-size: 15px;
    font-weight: 700;
    width: 500px;
  }

  .toggle-label {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .btn-submit {
    width: 150px;
    background-color: #12110f;
    color: #fffcf0;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
  }

  input[type="email"],
  input[type=text]
  ,select, textarea {
    width: 100%; /* Full width */
    padding: 10px; /* Some padding */ 
    border: 2px solid #12110f; /* Gray border */
    border-radius: 6px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical 
  }
  
  /* Footer Section */
#footer-container {
  background-color: #12110f;
  height: 200px;
  width: auto; 
  /* display: flex; */
  /* flex-direction: column; */
  justify-content: start;
  align-items: center;
  /* border: 5px solid  #12110f; */
  /* border-radius: 10px; */
}

#footer {
  background-color:#12110f;
  display: flex;
  justify-content: space-between;
  padding: 10px 5%;


}

.divider {
  width: 100%;
  height: 2px;
  background-color: #12110f ;
}

#footer-left-container {
  display: flex;
  flex-direction: column;
}

#footer-left-container h1 {
  font-family: 'Roboto', sans-serif;
  color:#fffcf0 ;
  font-weight: 700;
  font-size: 40px;
}

#footer-left-container p {
  font-family: 'Roboto', sans-serif;
  color:#fffcf0 ;
  font-weight: 700;
  font-size: 16px;
}

#footer-button-container {
  display: flex;
  flex-direction: row;
}
 
#footer-button-container button {
  margin-right: 10px;
  /* padding: 5px 10px; */
  background-color:#12110f;
  border: none;
  border-radius: 3px;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 14px;
  border: 1px solid#fffcf0 ;
  color: #fffcf0 ;
  border-radius: 1-px;

}
.footer-right-container h3 {
  display: flex;
  flex-direction: column;
  font-family: 'Roboto', sans-serif;
  color:#fffcf0 ;
  font-weight: 500;
  font-size: 14px;
}
#footer-button {
  font-family: 'Roboto', sans-serif;
  color:#fffcf0 ;
  font-weight: 700;
  font-size: 20px;
}
.footer-right-container h3 {
  font-family: 'Roboto', sans-serif;
  color:#fffcf0 ;
  font-weight: 500;
  font-size: 14px;
}
