html, body {
  height: 100%;
  margin: 0;
}

body {
  background-color: #fffcf0;
  width: auto;
}

#container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #12110f;
  padding: 10px 30px;
}

#logo {
  color: #fffcf0;
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
  font-size: 24px;
}

nav {
  display: flex;
  justify-content: flex-end;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

li {
  margin: 0 10px;
}

a {
  color: #fffcf0;
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
}

#top-section {
  background-color:  #fffcf0;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#top-section h1 {
  color:  #12110f;
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
  font-size: 120px;
  margin: 0;
  text-align: center;
}

#top-section h2 {
  color: #12110f;
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
  font-size: 34px;
  margin: 0;
  text-align: center;
}

#image-section {
  
  background-color: #FFD95A;
  height: 400px;
  width: auto;
  margin: 20px 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 2px solid black;
  border-radius: 7px;

  /* grid-column-gap: 8px;
  grid-row-gap: 10;
  

    border-radius: 20px;
    justify-content: space-between;
    align-self: stretch;
    align-items: flex-start;
    margin-top: 20em;
    padding: 20px 10%;
    position: relative; */
}

#image-section h1 {
  font-family: 'Roboto', sans-serif;
  color: #12110f;
  font-weight: 700;
  flex-grow: 1;
  width: 100%;
  font-size: 30px;
}

#image-section img {
  max-width: 15%;
  height: auto;
  padding: 10px;
  border-radius: 20px;
}
.image-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

#game-section {
  padding-right: 100px;
  padding-left: 100px;
  background-color: #12110f;
}

.game-section-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
}


.game {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 600px;
  margin-right: 600px;  
}

.divider {
  width: 450px;
  height: 0.5px;
  background-color:  #fffcf0;
}

.game-content-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  margin-top: 10px;
  /* margin-left: 300px;
  margin-right: 300px;   */
}
.game h3
{
  font-family: 'Roboto', sans-serif;
  color:  #fffcf0;
  font-size: 30px;
  font-weight: 500;
  margin-bottom: 10px;
}
.game-section-container h2 {
  font-family: 'Roboto', sans-serif;
  color:  #fffcf0;
  font-size: 50px;
  font-weight: bold;
  margin-bottom: 10px;
}

.game-content-container p {
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
  font-size: 30px;
  margin-right: 20px;
  color:  #fffcf0;
}

.game-content-container img {
  width: 400px;
  height: 200px;
  border: 2px solid #fffcf0;
  border-radius: 10px;
  
}


#about-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: auto;
}

#about-section-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #FFD95A;
  /* width: auto; */
  border: 2px solid black;
  border-radius: 8px;
  padding: 10px;
  margin: 20px;

}

.about-title {
  font-family: 'Roboto', sans-serif;
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 10px;

}

.about-content {
  display: flex;
  width: 700px;
  justify-content: space-evenly;
}

.about-content .row {
  display: flex;
  align-items: center;
}

.about-content img {
  width: 200px;
  height: 200px;
  margin-left: 30px;
}

.about-content p {
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  margin-right: 30px;
}

#contact-section {


}

#contact-section-container {
  background-color: #FFD95A;
  border: 2px solid black;
  border-radius: 8px;
  padding: 10px;
  font-family: 'Roboto', sans-serif;
  margin: 40px 10%;
}

#contact-section-container h2 {
  font-family: 'Roboto', sans-serif;
  color: #12110f;
  font-weight: 700;
  font-size: 60px;
  margin-bottom: 30px;
  margin-left: 5%;
}

#contact-col-container{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: auto;
  margin: 30px, 30px;

}

#contact-col-container h2 {
    font-family: 'Roboto', sans-serif;
    color: #12110f;
    font-weight: 500;
    font-size: 40px;
  }

  form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    /* width: 500px; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    
    margin-bottom: 30px;
    margin-right: 10%;
    margin-right: 3%;
  }

  .form-group {
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    justify-content: center;
    margin-bottom: 10px;
    font-size: 15px;
    font-weight: 700;
    width: 500px;
  }

  .toggle-label {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .btn-submit {
    width: 150px;
    background-color: #12110f;
    color: #fffcf0;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
  }

  input[type="email"],
  input[type=text]
  ,select, textarea {
    width: 100%; /* Full width */
    padding: 10px; /* Some padding */ 
    border: 2px solid #12110f;; /* Gray border */
    border-radius: 6px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical 
  }
  /* Footer Section */
#footer-container {
  background-color: #12110f;
  height: 200px;
  width: auto; 
  /* display: flex; */
  /* flex-direction: column; */
  justify-content: start;
  align-items: center;
}

#footer {
  background-color: #12110f;
  display: flex;
  justify-content: space-between;
  margin: 20px;
}

#footer-left-container {
  display: flex;
  flex-direction: column;
}

#footer-left-container h1 {
  color: white;
  font-size: 40px;
}

#footer-left-container p {
  color: white;
  font-size: 14px;
}

#footer-button-container {
  display: flex;
  margin-top: 20px;
  flex-direction: column;
}
 
#footer-button-container button {
  margin-right: 10px;
  padding: 5px 10px;
  background-color: white;
  color: black;
  border: none;
  border-radius: 3px;
}
.footer-right-container h3 {
  display: flex;
  flex-direction: column;
}
.footer-right-container h3 {
  color: white;
  font-size: 16px;
}